name: LaTeX build
on: [push]

jobs:
  arch-latex-build:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Building LaTeX
        uses: ./.github/actions/arch-latex-build
      - uses: actions/upload-artifact@v3
        with:
          name: Paper
          path: main.pdf
